# yaml-language-server: $schema=values.schema.json
# Default values for dbdump.

image:
  # -- image repository
  repository: djjudas21/dbdump
  # -- image tag
  # @default -- chart.appVersion
  tag: ""
  # -- image pull policy
  pullPolicy: IfNotPresent

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

# -- List of databases to backup (see format below).
# -- Without a host set, this chart will not do anything as it is expected
# -- to be used only when there's an existing database to backup.
databases:
  # -- Database host to connect to (must be unique)
- host: "example.com"
  # -- Database type, mysql or postgresql
  type: ""
  # -- Database username
  username: "root"
  # -- Database password
  password: ""
  # -- Database port
  port: "3306"
  # -- Back up all databases (overrides database)
  allDatabases: "true"
  # -- DB name for single DB backup
  database: ""
  # -- Enable debug output
  debug: "false"
  # -- Override crontab schedule for this host
  schedule: ""

# -- options to pass to mysqldump
mysqldumpOptions: "--single-transaction"

# -- options to pass to pgdump
pgdumpOptions: ""

# -- cron time setting for backup schedule
schedule: "0 3 * * *"

# -- number of successful jobs to remember
successfulJobsHistoryLimit: 3
# -- number of failed jobs to remember
failedJobsHistoryLimit: 3

## set persistentVolumeClaim to use a PVC that already exists.
## if set will override any settings under `persistence` otherwise
## if not set and `persistence.enabled` set to true, will create a PVC.
# persistentVolumeClaim: <existing-PVC>

podAnnotations: {}

persistence:
  # -- create new PVC
  enabled: true
  # -- size of PVC to create
  size: 8Gi
  # -- accessMode to use for PVC
  accessMode: ReadWriteMany
  # -- subPath for PVC
  subPath: ""
  # -- storage class to use for PVC
  storageClass: ""

# -- delete old backups
housekeeping:
  # -- delete old backups
  enabled: true
  # -- backup retention period
  keepDays: 10

# -- resource definitions
resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# -- resource definitions
nodeSelector: {}

tolerations: []

affinity: {}

# -- Pod Security Context
securityContext:
  # -- set true to change default security context of job/cronjob
  enabled: false
  # -- group ID to use
  fsGroup: 999
  # -- user ID to use
  runAsUser: 999
