{{/* Make sure all variables are set properly */}}
{{- include "bjw-s.common.loader.init" . }}

{{/* Append the hardcoded settings */}}
{{- define "uptime-kuma.hardcodedValues" -}}
env:
    UPTIME_KUMA_PORT: {{ .Values.service.main.ports.http.port }}
      {{- end -}}
    {{- $_ := mergeOverwrite .Values (include "uptime-kuma.hardcodedValues" . | fromYaml) -}}

    {{/* Render the templates */}}
{{ include "bjw-s.common.loader.generate" . }}
