{{ if not .Values.lldap.secretName }}
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: {{ include "lldap.fullname" . }}-credentials
data:
  {{ .Values.lldap.jwtSecretKey }}: {{ .Values.lldap.jwtSecret | b64enc }}
  {{ .Values.lldap.ldapUserPassKey }}: {{ .Values.lldap.ldapUserPass | b64enc }}
  {{ .Values.lldap.smtp.passwordKey }}: {{ .Values.lldap.smtp.password | b64enc }}
{{ end }}
