apiVersion: v1
kind: Service
metadata:
  name: {{ include "lldap.fullname" . }}
  labels:
    {{- include "lldap.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.http.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.ldap.port }}
      targetPort: ldap
      protocol: TCP
      name: ldap
  selector:
    {{- include "lldap.selectorLabels" . | nindent 4 }}
