# Default values for smtp-relay.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

smtp:
  # Hostname of SMTP server to relay to
  host: ""
  # Username for SMTP server to relay to
  username: ""
  # Password for SMTP server to relay to
  password: ""
  # Hostname of THIS relay SMTP server
  myhostname: ""
  # Networks to permit relaying from - by default just localhost and Kubernetes
  mynetworks:
    - 127.0.0.0/8
    - 10.0.0.0/8
  tls_wrappermode: "no"
  tls_security_level: ""

image:
  repository: djjudas21/smtp-relay
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

probes:
  liveness:
    enabled: true
    failureThreshold: 3
    initialDelaySeconds: 0
    periodSeconds: 10
    timeoutSeconds: 1
  readiness:
    enabled: true
    failureThreshold: 3
    initialDelaySeconds: 0
    periodSeconds: 10
    timeoutSeconds: 1

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  loadBalancerIP: ""
  port: 25

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

metrics:
  enabled: false
  port: 9154
  serviceMonitor:
    enabled: false
