apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "domainmod.fullname" . }}
  labels:
    {{- include "domainmod.labels" . | nindent 4 }}
  {{- with .Values.deploymentLabels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "domainmod.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "domainmod.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "domainmod.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: DOMAINMOD_WEB_ROOT
              value: {{ .Values.env.DOMAINMOD_WEB_ROOT }}
{{- if .Values.mariadbOperator.enabled }}
            - name: DOMAINMOD_DATABASE_HOST
              value: {{ include "domainmod.fullname" . }}-mariadb
            - name: DOMAINMOD_DATABASE
              value: {{ include "domainmod.fullname" . }}
            - name: DOMAINMOD_USER
              value: {{ .Values.mariadbOperator.auth.username }}
            - name: DOMAINMOD_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "domainmod.fullname" . }}-mariadb-user
                  key: password
{{- else }}
            - name: DOMAINMOD_DATABASE_HOST
              value: {{ .Values.env.DOMAINMOD_DATABASE_HOST }}
            - name: DOMAINMOD_DATABASE
              value: {{ .Values.env.DOMAINMOD_DATABASE }}
            - name: DOMAINMOD_USER
              value: {{ .Values.env.DOMAINMOD_USER }}
            - name: DOMAINMOD_PASSWORD
              value: {{ .Values.env.DOMAINMOD_PASSWORD }}
{{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /var/www/html/temp
              name: temp
      volumes:
        - name: temp
          emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
