# yaml-language-server: $schema=values.schema.json
#
# This chart inherits from the bjw-s common library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/blob/4d09009bf809b2ce3c06225f61cf229e40d2c08a/charts/library/common/values.yaml
#

image:
  # -- image repository
  repository: alfhou/hammond
  # -- image tag
  # @default -- chart.appVersion
  tag: ""
  # -- image pull policy
  pullPolicy: IfNotPresent

# -- environment variables
# @default -- See below
env:
  # -- Application Timezone
  TZ: UTC
  # -- The secret used to sign the JWT token. It is important that you change it to something else
  JWT_SECRET: ChangeMe

# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  main:
    ports:
      http:
        port: 3000

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See values.yaml
  main:
    enabled: false

# -- Configure persistence settings for the chart under this key.
# @default -- See values.yaml
persistence:
  config:
    enabled: false
    mountPath: /config
  assets:
    enabled: false
    mountPath: /assets
