# Default values for domainmod.

# -- Number of domainmod replicas.
replicaCount: 1

image:
  # -- image repository
  repository: domainmod/domainmod
  # -- image pull policy
  pullPolicy: IfNotPresent
  # -- image tag
  # @default -- chart.appVersion
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# -- environment variables
# @default -- See below
env:
  # -- Container timezone
  TZ: UTC
  # -- Set this if you plan on running DomainMOD in a subdirectory, otherwise leave it blank.
  DOMAINMOD_WEB_ROOT:
  # -- The database hostname that DomainMOD should connect to. You do not need to configure this if you are using the MariaDB Operator integration.
  DOMAINMOD_DATABASE_HOST: ""
  # -- The name of the database. You do not need to configure this if you are using the MariaDB Operator integration.
  DOMAINMOD_DATABASE: ""
  # -- The name of the database user. You do not need to configure this if you are using the MariaDB Operator integration.
  DOMAINMOD_USER: ""
  # -- The password for DOMAINMOD_USER. You do not need to configure this if you are using the MariaDB Operator integration.
  DOMAINMOD_PASSWORD: ""

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: false
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # @default -- a name is generated using the fullname template
  name: ""

podAnnotations: {}
podLabels: {}
deploymentAnnotations: {}
deploymentLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  type: ClusterIP
  port: 80

# -- Enable and configure ingress settings for the chart under this key.
# @default -- See values.yaml
ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

nodeSelector: {}

tolerations: []

affinity: {}

# -- Enable integration with MariaDB Operator
# This uses the MariaDB Operator (which must be installed
# separately) to provision a MariaDB instance.
mariadbOperator:
  # -- Enable integration with MariaDB Operator
  enabled: false
  auth:
    # -- Database name to create
    database: domainmod
    # -- Database user to create
    username: domainmod
    # -- Database password to create
    password: domainmod
    # -- Database root password to create
    rootPassword: domainmodadminpw
  # -- Resources for MariaDB instance
  resources: {}
  # -- Persistence settings for MariaDB instance
  persistence:
    # -- Size of volume to provision for MariaDB instance
    size: 1Gi
    # -- Storage class to use to provision volume for MariaDB instance
    storageClass: ""
