# yaml-language-server: $schema=values.schema.json
# Default values for domainmod.

# -- Number of domainmod replicas.
replicaCount: 1

image:
  # -- image repository
  repository: domainmod/domainmod
  # -- image pull policy
  pullPolicy: IfNotPresent
  # -- image tag
  # @default -- chart.appVersion
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# -- environment variables
# @default -- See below
env:
  # -- Container timezone
  TZ: UTC
  # -- Set this if you plan on running DomainMOD in a subdirectory, otherwise leave it blank.
  DOMAINMOD_WEB_ROOT:
  # -- The database hostname that DomainMOD should connect to. This needs to be the same name as the datbase container.
  DOMAINMOD_DATABASE_HOST: domainmod-mariadb
  # -- The name of the database. Set this to whatever you want, but it should match the database name in your database container.
  DOMAINMOD_DATABASE: domainmod
  # -- The name of the database user. Set this to whatever you want, but it should match the database user in your database container.
  DOMAINMOD_USER: domainmod
  # -- The password for DOMAINMOD_USER. Set this to whatever you want, but it should match the database password in your database container.
  DOMAINMOD_PASSWORD: domainmod

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: false
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # @default -- a name is generated using the fullname template
  name: ""

podAnnotations: {}
podLabels: {}
deploymentAnnotations: {}
deploymentLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  type: ClusterIP
  port: 80

# -- Enable and configure ingress settings for the chart under this key.
# @default -- See values.yaml
ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

nodeSelector: {}

tolerations: []

affinity: {}

# -- Enable and configure mariadb database subchart under this key.
#    For more options see [mariadb chart documentation](https://github.com/bitnami/charts/tree/master/bitnami/mariadb)
# @default -- https://github.com/bitnami/charts/blob/master/bitnami/mariadb/values.yaml
mariadb:
  enabled: false
  image:
    repository: bitnamilegacy/mariadb
  architecture: standalone
  auth:
    # -- Database name
    database: domainmod
    # -- Database user
    username: domainmod
    # -- Database password
    password: domainmod
    # -- Database root password
    rootPassword: domainmodadminpw
  primary:
    resources: {}
    persistence:
      enabled: false
      size: 1Gi
      # storageClass: ""

# -- Enable and configure external mariadb database
externalMariadb:
  enabled: false
  # -- Name of the Kubernetes secret containing the database URI
  # fromSecret:
  # -- Name of the secret key containing the database URI
  # uriKey:
  auth:
    host: ""
    port: 3306
    username: ""
    password: ""
    database: domainmod
