name: Generate Helm docs
on:
  - pull_request
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        ref: ${{ github.event.pull_request.head.ref }}
    - name: Generate Helm documentation
      uses: losisin/helm-docs-github-action@v1
      with:
        git-push: true
    - name: Install dadav/helm-schema
      run: |
        GOBIN=$PWD GO111MODULE=on go install github.com/dadav/helm-schema/cmd/helm-schema@latest
    - name: Run dadav/helm-schema
      run: |
        ./helm-schema --chart-search-root=${GITHUB_WORKSPACE}/charts -r -n -k required,additionalProperties
    - uses: stefanzweifel/git-auto-commit-action@v7
      id: commit
      with:
        commit_message: Generate Helm json schema
